div{
    font-size: 35px;
}
.loginBg{
    height: 100vh; 
    max-width: clamp(70vw); 
}
.loginContent{
    border: 2px solid red;
    height: 100vh; 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.loginTextContent{
    border: 2px solid red;
    position: relative;
    top: 65vh;
    left: 15vh;
    font-size: 6rem;
    max-width:  25vw; 
    height: fill;
    color: white;
}
.loginTextdiscription{
    border: 2px solid red;
    position: relative;
    top: 66vh;
    left: 15vh;
    font-size: 2rem;
    max-width:  30vw;
    height: fill; 
    color: red;
}