:root {
    --primaryColor: #C8242F;
    --mainWhite: #FFFFFF;
    --mainLightGrey: #FAFAFA;
    --mainGrey: #ADADAD;
    --mainBlack: #3E3E3E;
    --mainShadow: #0000000A;
}
body {
    color: var(--mainBlack);
    background: var(--mainLightGrey);
    font-family: 'Roboto';
}
.columnJustified{
    display: flex;
    justify-content: center;
}
.columnleftJustified{
    display: flex;
    justify-content: left;
}
.vertical-center {
  min-height: 100%;  
  min-height: 100vh; /* These two lines are counted as one, fall back       */

  display: flex;
  align-items: center;
}
.redColor {
    color: var(--primaryColor)
}

.hero {
    border-radius: 50%;
    box-shadow: 0px 4px 31px var(--mainShadow);
    border: 20px solid var(--mainWhite);
    width: 576px;
    height: 576px;
}
.title {
    font-size: 40px;
    font-weight: light;
    width: 500px;
}
.logo {
    width: 272px;
    height: 58px;
    margin-bottom: 3%;
}
.heading{
    font-size:25px;
    margin: 15px 15px 15px 0px;
}
.form{
    width: 430px;
}
.form-control{
    margin: 15px 15px 15px 0px;
    border-radius: 5px;
}
.button{
    margin: 5px;
    height: 45px;
    width: 135px;
    border-radius: 23px;
}
.forgotPasswords{
    margin-left: 20%;
    color: var(--mainGrey);
    font-size: 15px;
}
.question{
    margin: 10px 0;
    color: var(--mainGrey);
    font-size: 15px;
}
.rightAlignment{
    margin-top: 10%;
    margin-left: 15%;
}

@media (max-width: 720px) {
    .hero {
        width: 0px;
        height: 0px;
        border: none;
    }
    .rightAlignment{
        margin-left: 5%;
    }
    .title {
        font-size: 30px;
        width: 300px;
    }
    .form-control {
        width: 250px;
    }
    .forgotPasswords{
        margin-left: 5%;
    }
    .btn{
        width: 100px;
    }
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }
    
}
